body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}

.menu {
    padding: 15px;
    text-align: center;
}

.logo {
    border-radius: 30px;
    height: 65px;
    margin: 1px auto; 
    font-size: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, gold, orange, yellow);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
    padding: 22px;
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.theme-toggle {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.light-theme .theme-toggle {
    color: black;
}

.dark-theme .theme-toggle {
    color: white;
}

.light-theme .menu {
    background-color: #f0f0f0;
    color: black;
}

.dark-theme .menu {
    background-color: #333;
    color: white;
}

light-theme .content {
    background-color: #f0f0f0;
    color: black;
}

dark-theme .content {
    background-color: #333;
    color: gold;
}
